.wrapper {
	margin: auto;
	margin-top: 10%;
	text-align: center;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

.item-list {
	margin: 0 auto;
	width: 600px;
	text-align: center;
}


.item {
	/*text-align: center;*/
	margin-bottom: 20px;
	padding: 10px;
}

.item-highlight:hover:not(.active) {
	background-color: rgba(79,119,45,0.3);}

.item-label {
	text-align: center;
	font-size: 16pt;
}

.item-img {
	width: 100%;
}

.item-highlight {
	width: 50%;
	margin: auto;
	padding: 20px;
}


.next {
	margin-bottom: 30px !important;
}

.active {
	background-color: rgba(79,119,45,0.7);
}

h2 { 
	text-align: center;
}

p {
	text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}