.wrapper {
	margin: auto;
	margin-top: 20%;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

.item-list {
	margin: 0 auto;
	width: 600px;
}

.square {
  height: 100px;
  width: 100px;
  background-color: #555;
}

.item {
	float: left;
	margin: 3%;
}

.item-label {
	text-align: center;
}

h2 { 
	text-align: center;
}

p {
	text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}